# Dependencias
node_modules/

# Builds
dist/
build/
.astro/
.next/
.vercel/
.netlify/

# Entorno
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# SO / editor
.DS_Store
Thumbs.db
desktop.ini
.vscode/*
!.vscode/extensions.json
.idea/
